http://192.168.99.100, https://192.168.99.100 {
  root /var/www/heartbt
#  tls yitzhakbargeva@gmail.com
}
www.levpoem.co.il, levpoem.co.il {
  root /var/www/levpoem
  tls off
}
www.heartbt.co.il, heartbt.co.il {
  root /var/www/heartbt
  tls off
}
