##################################################################################
# Use this section on production server
##################################################################################
https://levpoem.co.il {
   root /var/www/srv/levpoem
   startup runhugo levpoem https://levpoem.co.il & # Use on DO server
}
http://levpoem.co.il, http://www.levpoem.co.il {
   redir https://levpoem.co.il{uri}
}
https://heartbt.co.il {
  root /var/www/srv/heartbt
  startup runhugo heartbt https://heartbt.co.il & # Use on DO server
}
http://heartbt.co.il, http://www.heartbt.co.il {
   redir https://heartbt.co.il{uri}
}

##################################################################################
# Use this section for local development (will be asked to accept locally generated certificate)
##################################################################################
# https://levplocal.co.il {
#   root /var/www/srv/levpoem
#   tls self_signed # Use on Mac
#   startup runhugo levpoem https://levplocal.co.il & # Use on Mac
# }
# https://heartblocal.co.il {
#   root /var/www/srv/heartbt
#   tls self_signed # Use on Mac
#   startup runhugo heartbt https://heartblocal.co.il & # use on Mac
# }

